.root-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  
  .vis-area {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    // width: calc(100% - 330px);
  }

  .bubble {
    margin-top: 115px;
    flex: 1;
    justify-content: center;
  }

  .concept-recurrence-plot {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .fullSvg {
      width: 100%; // 부모 컨테이너의 전체 너비 사용
      height: 100%;
      flex: 1;
      // 필요한 경우 높이도 설정
    }

    .subChart-section {
      width: 100%; // 부모 컨테이너의 전체 너비 사용
      flex: 1;
      // 필요한 경우 높이도 설정
    }
  }
}

.debateLegend {
  position: fixed;
  top: 60px;
  z-index: 10;
  width: 200px;
}

.debateLegend img {
  width: 100%;
  height: auto;
}

.debateLegend.open {
  right: 260px;
}

.debateLegend.closed {
  right: 0;
}